PATHONET_ROOT=/opt/pathonet/current
PATHONET_HTTP_URLS=http://0.0.0.0:5000;http://0.0.0.0:5080
ASPNETCORE_ENVIRONMENT=Production
DOTNET_ENVIRONMENT=Production
PATHONET_KIOSK_URL=http://127.0.0.1:5000/hdmi
PATHONET_KIOSK_WIDTH=1280
PATHONET_KIOSK_HEIGHT=720
PATHONET_KIOSK_BROWSER_FLAGS=--disable-gpu --disable-dev-shm-usage --disk-cache-size=33554432 --media-cache-size=33554432
