PATHONET_ROOT=/opt/pathonet/current
PATHONET_HTTP_URLS=http://0.0.0.0:5000;http://0.0.0.0:5080
ASPNETCORE_ENVIRONMENT=Production
DOTNET_ENVIRONMENT=Production
PATHONET_KIOSK_URL=http://127.0.0.1:5000/hdmi
PATHONET_KIOSK_WIDTH=1920
PATHONET_KIOSK_HEIGHT=1080
